# Data science Tools and Ecosystem

In this notebook, Data science tools and ecosystem are summarized.

Some of the commonly used languages used by Data Scientists are:
1. Python
2. R
3. sql

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. GGplot
4. plotly

| Data Science Tools |
| :-|
| RStudio |
| JupyterLab |
| MySql |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
### This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
* List of languages used by Data Scientist
* List of tools used by Data Scientist
* Table of Data Science Tools
* Aithematic Expression
* Minutes to hours conversion

## Author
Siddharath Narayan Shakya